<%= form_with(model: blog) do |form| %>
  <% if blog.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>
      <%= stylesheet_link_tag 'newblog' %>
      <ul>
        <% blog.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class=" title mb-3 ">
    <%= form.label :title, style: "display: block" ,class:"form-label" ,for:"formGroupExampleInput" %>
    <%= form.text_field :title ,class:"form-control" ,id:"formGroupExampleInput", placeholder:"Enter your blog Title here", style: "font-weight: bold;" %>
  </div>

  <div class=" contents form-floating">
    <%= form.label :content, style: "display: block" ,for:"floatingTextarea2" %><br/><br/>
    <%= form.text_area :content ,class:"form-control", placeholder:"Tell your story" , id:"floatingTextarea2" ,style:"height: 50vh" %>
  </div>

  <div class="input-group mb-3 mt-3">
  <%= form.label :blogimages, style: "display: block" ,class:"input-group-text" ,for:"inputGroupFile02" %>
  <%= form.file_field :blogimages , multiple: true ,class:"form-control", id:"inputGroupFile02" %>
  </div>

  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <%= form.submit class:"btn btn-primary"%>
  </div>
<% end %>
